* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Assistant', serif;
  color: black;
  list-style-type: none;
}

body {
  background-color: skyblue;
  height: 100vh;
}

form {
  width: 200px;
  height: 50px;
  color: black;
  border: 1px solid black;
}